<html>
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <h2>Choose movie:</h2>
    <form th:method="post" th:action="@{/movies}">
    <div th:each="movie : ${movies}">
        <input type="radio"  name="title" id="title" th:value="${movie.getTitle()}">
        <label for="title">Title: <span th:text="${movie.getTitle()}"></span></label>
        <p >Summary: <span th:text="${movie.getSummary()}"></span></p>
        <p>Rating: <span th:text="${movie.getRating()}"></span></p>
    </div>
    <h2>Choose number of tickets:</h2>
    <input type="number" name="numTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" name="buyTickets" value="Submit">
    </form>

    <form th:method="post" th:action="@{/movies}">
        <label for="filterText">Enter text:</label>
        <input type="text" name="filterText" id="filterText">
        <label for="filterRating">Enter rating:</label>
        <input type="number" name="filterRating" id="filterRating" min="1" max="10">
        <input type="submit" name="filterMovies" value="Submit">
        <input type="submit" name="allMovies" value="Show All">
    </form>
</main>
</body>
</html>